/* all */
.app {  
    position: absolute;
    direction: rtl !important;
    text-align: right !important;  
    width: 100%;
    font-family: Tahoma;
    font-size: 16px;
    line-height: 1.4em;
}

body {
    margin: 0; /*no idea why chrome adds margin to body*/
}

.ng-view-container {
    width: 600px;
    margin: 70px auto auto auto;  `/*top right bottom left*/
}

/* general */ 
input {
    /*width: 100%;*/
/*    font-size: 50px;*/
}

.clickable {
    cursor: pointer;
}

top-nav-bar {
    position: fixed;
    width: 100%;
    margin-right: auto;
    margin-left: auto;    
    padding-top: 10px;
    padding-bottom: 10px;

    /*background-color: lightgrey;*/
    background-color: #e0e0e0; /*quora-gray*/
}

.top-nav-bar-contents {
    width: 72%;
    margin-right: auto;
    margin-left: auto;    
    float: center;
}

.top-nav-bar-image {
    float:right;
    height: 33px;
    width: 60px;
    background: url(//d1vgw4v7ja2ido.cloudfront.net/-db865070861a00c7.gif) no-repeat center top;
}

.top-nav-bar-search {
    margin-right: 10px;
    margin-top: -0.5px;
    border: 1px;
    font-size: 26.5px; 
    /*square corners*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.top-nav-bar-link {
    height:100%;
    text-decoration: none;
    font-color: black;
    margin-left: 60px;
    margin-top: 5px;
    float: left;
}

.qList {    
    list-style-type: none;    
}

.question-title {
    text-decoration: none;
    font-size: 24px;
}

.question-body {
    font-style: italic;
}

.answer {
    padding-bottom: 10px;  
    border-bottom: 1px solid;  
    border-color: lightgrey;    
    margin-bottom: 10px;
}

.answer-user {
    color: blue;
    text-decoration: none;
}

.answer-list {
    list-style-type: none;
    margin: 0;
    padding-right: 0;
}