/* all */
.app {  
    position: absolute;
    direction: rtl !important;
    text-align: right !important;  
    width: 100%;
    font-family: Tahoma;
    /*font-size: 15px;*/
    font-size: 90%;
    line-height: 1.4em;
}

body {
    margin: 0; /*no idea why chrome adds margin to body*/
}

.ng-view-container {
    width: 600px;
    margin: 70px auto auto auto;  `/*top right bottom left*/
}

/* GENERIC */

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 10px rgba(81, 203, 238, 1);
}

.clickable {
    cursor: pointer;
}

.nice-link {
    color: #538dc2
}

.bullet {
    font-size: .8em;
    color: #ccc;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.submit-button {
    width:100%;
    height: 40px;
    background-color: blue;
    color: white;
}


/*top nav bar */

top-nav-bar {
    position: fixed;
    width: 100%;
    margin-right: auto;
    margin-left: auto;    
    padding-top: 10px;
    padding-bottom: 10px;

    /*background-color: lightgrey;*/
    background-color: #e0e0e0; /*quora-gray*/
}

.top-nav-bar-contents {
    width: 72%;
    margin-right: auto;
    margin-left: auto;    
    float: center;
}

.top-nav-bar-image {
    float:right;
    height: 33px;
    width: 60px;
    background: url(//d1vgw4v7ja2ido.cloudfront.net/-db865070861a00c7.gif) no-repeat center top;
}

.top-nav-bar-search {
    margin-right: 10px;
    margin-top: -0.5px;
    border: 1px;
    font-size: 26.5px; 
    /*square corners*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.top-nav-bar-link {
    height:100%;
    text-decoration: none;
    font-color: black;
    margin-left: 60px;
    margin-top: 5px;
    float: left;
}

/*NEW QUESTION*/

.new-question-input-area {
    width: 600px;
}

.new-question-title-input {
    width: 100%;
    font-size: 1.3em;
    margin-bottom: 20px;
}

.new-question-details-input {
    height: 60px;
    width:  100%;
    font-size: 1.1em;
    margin-bottom: 20px;
}

/* QUESTIONS LIST */

.qList {    
    list-style-type: none;    
}

.question-title {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #19558d; 
}

.question-body {
    font-style: italic;
}

.answer {
    padding-bottom: 10px;  
    border-bottom: 1px solid;  
    border-color: lightgrey;    
    margin-bottom: 10px;
}

.answer-user {
    color: black;
    font-weight: bold;    
}

.answer-upvotes-icon {
    float: left;
    color: blue;
}

.answer-list {
    list-style-type: none;
    margin: 0;
    padding-right: 0;
}

.new-answer-details-input { same as /*.new-question-details-input*/
    height: 60px;
    width:  100%;
    font-size: 1.1em;
    margin-bottom: 20px;
}