<about>
<h4>
מה זה פה?
</h4>

                <p>
אני אוהב לקרוא.
                </p>
<p>
כל הזמן. אבל ממש, כל הזמן.
</p>

<p>
    תוכן טוב. במחשב. באייפון. באופניים בדרך לעבודה, כשאני עוצר באור אדום, אני מעיף מבט בפלאפון וקורא עוד קצת.
</p>

<p>
    כי האינטרנט <b>מדהים</b>. יש בו כמויות בלתי-נתפסות של תוכן איכותי. באופן אישי אני מתעניין בפוליטיקה, טכנולוגיה ותרבות, אז אלה הנושאים שעליהם אני קורא. יש היצע מדהים של אתרים שמרכזים תוכן איכותי שמועלה על-ידי גולשים, אז לא צריך כמעט לחפש. האתרים המועדפים עליי הם רשת סטאק אקסצ’יינג, קוורה, רדיט, ו-האקר ניוז. בכל אחד מהם בכל רגע נתון יש הרבה תוכן איכותי ודיונים איכותיים, ומעט מאוד “רעש”. זה באמת די מדהים…
</p>

<p>
…כל עוד אתה מוכן להסתפק רק באנגלית. 
</p>

<p>
כי ברגע שאתה רוצה לקרוא תוכן איכותי שלא באנגלית, פתאום אתה צריך להתאמץ הרבה יותר. שזה מוזר, כי בתור ישראלי, רוב התוכן הלא-טקסטואלי שאני צורך הוא לא באנגלית — אני מדבר על פוליטיקה, טכנולוגיה ותרבות — וזה אף פעם לא באנגלית. באינטרנט, באופן מצער, עברית היא אזרח סוג ב’. 
</p>

<p>
אז זה לא שאין תוכן איכותי — התחומים שמעניינים אותי באופן אישי (מדעי המחשב, הסכסוך הישראלי-פלסטיני, דת, פסיכולוגיה, תוכנה) הם כולם תחומים שאפשר לדון בהם (ואכן דנים בהם) בעל-פה בעברית. אבל ברשת, אין לזה מקום מתאים — לא כלים, ולא קהילות.
</p>

<p>
למה אין קוורה בעברית, או רדיט בעברית? למה המקסימום שאפשר לצפות למצוא בעברית באינטרנט מוגבל לשרשורים ברי-חלוף בפייסבוק או לפורומים סטייל 2005 בתפוז?
</p>

<p>
די ברור שרוב הישראלים מעדיפים לקרוא ולכתוב בעברית (כולל אלו שמרגישים לגמרי בנוח עם אנגלית, כולל הח”מ). מהפכת המחשוב מאפשרת לנו להשתמש בכלים הטובים ביותר בעולם (ג’ימייל, אייפונים, פייסבוק), אבל התוכן הוא עדיין מקומי (לוקאלי) במהותו. 
</p>

<p>
    גם ישראלים צריכים (ומגיע להם) מקום לקרוא וכתוב תוכן איכותי. אנחנו יכולים לבנות לעצמנו כלים וקהילות: מקום שבו התוכן הוא הדבר החשוב ביותר, הנימוס נאכף, והאיכות — בתקווה — היא הנורמה. הפרחנו את השממה פעם אחת, בואו נעשה את זה שוב. 
</p>

<p>
בואו נעשה שהאינטרנט יהיה מעולה גם בעברית.
</p>

<p>
    <small>
        © ספטמבר 2014.
    </small>
    <small>
    ליצור קשר — sella.rafaeli@gmail.com.
    </small>
</p>
</about>