<div>
    <div>
        <div class='answer-upvotes-icon'>
            <span popover="{{a.upvotersNames()}}" popover-trigger="mouseenter" ng-click="toggleUpvoteAnswer(q,a)">⇧ {{a.getUpvotes()}} </span>
            <a ng-href='#/users/{{a.owner.id}}'><img ng-if="a.owner.imgLnk" class='answer-user-pic' src={{a.owner.imgLnk}} /></a>
            <!--<img class='answer-user-pic' src="{{a.owner.imgLnk}}"/>-->
        </div>
         <div>
             <a class="answer-user" ng-href='#/users/{{a.owner.id}}'> {{a.owner.fullName}}</a><span class="answer-user" ng-show="a.owner.bio">, {{a.owner.bio}}</span>
         </div>
         <span class='clickable' ng-click="hide=!hide" ng-init="hide=true">
            <!--<span ng-hide=!hide> {{shortAnswer(a.text)}} </span>-->
            <!--<span ng-hide=hide> {{a.text}} </span>-->
             <span class="imgHolder" ng-hide=false ng-bind-html="a.text"> </span>
        </span>
    </div>
    <div class='answer-links'>
        <a class='clickable nice-link' ng-click="toggleUpvoteAnswer(q,a)"> {{answerUpvoted(a)}}</a>
        <span class='bullet' ng-show=showComments> • </span>
        <a class='clickable nice-link' ng-click="showComments=!showComments" ng-init='showComments=false' ng-show=showComments>תגובות ({{a.comments.length}})</a>
    </div>

    <comments ng-show=showComments>
    </comments>    
</div>