<style type="text/css">
  .css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
  }
 
  .css-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
  }
</style>

<div ng-controller="LoginController">
  <form novalidate class="simple-form">
      {{textFullName}} <input type="text" ng-model="fullName" /> <br />
      {{textEmail}} <input type="text" ng-model="email" /> <br />
      {{textPassword}} <input type="text" ng-model="password"/> <br />
      <button ng-click="signup()">Signup</button>
  </form>
</div>



