<div id="qListCtrl" ng-controller="qListCtrl">
    <related-questions></related-questions>

    <overlay-pic></overlay-pic>

    <!--http://css-spinners.com/#/spinner/dots/-->
    <div class="loading-gif"><div ng-show='empty()' class="spinner">LOADING</div></div>

    <ul class="qList" infinite-scroll="loadMoreQuestions()">

        <li ng-repeat="q in data.qList">
            <question-and-answers></question-and-answers>
        </li>
    </ul>
    <!--<div ng-show=data.loadingQs>Loading data...</div>-->
</div>