<div>
    <categories></categories>
    <div class="question">
        <a ng-href="#/questions/{{q.link}}" ng-class="{'single-question-title': isq(), 'question-title': !isq()}"> {{q.title}} </a>
        <span ng-show=true class='question-body'> {{q.body}} </span>
     </div>                     
</div>
<ul class='answer-list'>
    <li class='answer' ng-repeat="a in q.answers | orderBy:'upvotes' | filter:filter ">                                                      
        <answer></answer>
    </li>                                                                                          
</ul>

<div>
    {{q.myAnswer}}
</div>