<div>
    <div class="question">
        <a ng-href="#/questions/{{q.link}}" class='question-title'> {{q.title}} </a>
        <span ng-show=true class='question-body'> {{q.body}} </span>
     </div>                     
</div>
<ul class='answer-list'>
    <li class='answer' ng-repeat="a in q.answers | orderBy:'upvotes' | filter:filter ">                                                      
        <answer></answer>
    </li>                                                                                          
</ul>

<div ng-show=data.qList.length==1>
    <textarea class='new-answer-details-input' ng-model="myAnswer" placeholder="הוסף את התשובה שלך..." autofocus/></textarea>
    <div>{{q.myAnswer}}</div>
    <button class='submit-button' ng-show="myAnswer" ng-click="submitAnswer()">שלח!</button>
</div>