<!--<div>{{foo}}</div>-->
<div>
    <div class="question">
        <a ng-href="#/questions/{{q.link}}" class='question-title'> {{q.title}} </a>
        <categories></categories>
        <span ng-show=true class='question-body'> {{q.body}} </span>
     </div>                     
</div>
<ul class='answer-list'>
    <li class='answer' ng-repeat="a in q.answers | orderBy:'upvotes' | filter:filter ">                                                      
        <answer></answer>
    </li>                                                                                          
</ul>

<div>
    {{q.myAnswer}}
</div>