<div class='contents'>
            <div onclick='document.location = "/ui"' class='image'></div>
            <input class='search' type='text' placeholder='חפש' />
            <a class='link' ng-href="#about">אודות</a>
            <!--<a class='link' href="#hello">שלום</a>-->
            <a class='link' href="#new_question">הוסף שאלה</a>
            <a class='link' href="#questions">ראשי</a>

            <!--<a class='link' href="#category/politics">נושא: סרטים</a>-->
            <!--<a class='link' href="#user/moshe">יוזר: משה</a>            -->
</div>