<div>
    <h4 class="question heb"><strong> {{q.title}} </strong> <span> {{q.body}} </span></h4>                     
</div>
<ul class="answer-list">
    <li class="answer heb" ng-repeat="a in q.answers | filter:filter">                                                      
        <answer></answer>
    </li>                                                                                          
</ul>
<div show={{data.qList.length==1}}>
    <span>{{data.qList.length}}</span>
    <textarea heb ng-model="q.myAnswer" placeholder="What do you think?"></textarea>
    <div heb >{{q.myAnswer}}</div>                        
    <button heb ng-click="submitAnswer(q.title,q.myAnswer)">שלח!</button>
</div>