<div>
    <div>
        <a class="answer-user" ng-href='#/user/{{a.user}}'> 
            {{a.user}} ◁ 
         </a> 
         <span class='clickable' ng-click="hide=!hide" ng-init="hide=true">
            <span class='answer-upvotes-icon'>⇧ {{a.upvotes}}</span>
            <span ng-hide=!hide> {{shortAnswer(a.body)}} </span>         
            <span ng-hide=hide> {{a.body}} </span>         
        </span>
    </div>
    <div><a class='clickable nice-link' ng-click="upvote(a)">לייק! </a><div>
</div>