<div id="newQuestionCtrl" ng-controller="newQuestionCtrl">                                                  
הכניסו שאלה חדשה! 
    <div class="new-question-input-area">
        <div>
            <input class='new-question-title-input' type='text' ng-model="newQuestionTitle" placeholder='השאלה שלי...'/> 
        </div>
        <div>
            <textarea ng-show="newQuestionTitle" ng-model="newQuestionDetails" class='new-question-details-input' placeholder='הוסף פרטים לשאלה?'/></textarea>
        </div>
        <button ng-show="newQuestionTitle" class='submit-button' ng-click="submitNewQuestion()">הוסף!</button>
    </div>
</div>