<div>
            <a class="top-nav-bar-link" href="#about">אודות</a>
            <a class="top-nav-bar-link" href="#hello">שלום</a>
            <a class="top-nav-bar-link" href="#category/politics">פוליטיקה</a>
            <a class="top-nav-bar-link" href="#user/moshe">היוזר משה</a>
            <a class="top-nav-bar-link" href="#about">אודות</a>
            <a class="top-nav-bar-link" href="#hello">שלום</a>
            <a class="top-nav-bar-link" href="#category/politics">פוליטיקה</a>
            <a class="top-nav-bar-link" href="#user/moshe">היוזר משה</a>
</div>