<div class="top-nav-bar-contents">
            <div class="top-nav-bar-image"></div>
            <input class="top-nav-bar-search" type='search' placeholder='חפש' />
            <a class="top-nav-bar-link" ng-href="#about">אודות</a>
            <a class="top-nav-bar-link" href="#hello">שלום</a>
            <a class="top-nav-bar-link" href="#hello">הוסף שאלה</a>
            <a class="top-nav-bar-link" href="#category/politics">פוליטיקה</a>
            <a class="top-nav-bar-link" href="#user/moshe">היוזר משה</a>            
</div>