/* VARIABLES */
@import "lib/less/elements.less";

@pale-turqouise: #538dc2;
@light-grey: #ccc;
@ultra-light-grey: #eee;
@question-title-blue: #19558d;
@img-width: 60%;
@answer-user-pic-size: 36px;
/* all */
.app {  
    position: absolute;
    direction: rtl !important;
    text-align: right !important;  
    width: 100%;
    font-family: Tahoma;
    /*font-size: 15px;*/
    font-size: 90%;
    line-height: 1.4em;
}

body {
    margin: 0; /*no idea why chrome adds margin to body*/
}

.ng-view-container {
    width: 600px;
    margin: 70px auto auto auto;  /*top right bottom left*/
    max-width: 100%;
}

.faded { color: lightgray}
.hide {display: none}
.invisible {visibility: hidden} //will still affect layout
/* GENERIC */

input[type=text]:focus, textarea:focus {
  //box-shadow: 0 0 10px rgba(81, 203, 238, 1);
  //border-radius: 4px;
}

input { border-radius: 4px;}

.clickable {
    cursor: pointer;
}

.nice-link {
    color: @pale-turqouise;
}

.bullet {
    font-size: .8em;
    color: @light-grey;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.submit-button {
    width:100%;
    height: 40px;
    background-color: blue;
    color: white;
}

/* LOADING GIF */
.loading-gif {
  margin-right: 50%;
}


top-nav-bar {
  .flash {
    text-align: center;
    background-color: black;
    margin-top: -8px;
    .text {
      color: lightcoral;
    }
  }
}
/*NEW QUESTION*/

.new-question-input-area {
    width: 600px;

    .title-input {
        width: 100%;
        font-size: 1.3em;
        margin-bottom: 20px;
    }

    .categories-input {
      width: 100%;
      margin-bottom: 15px;
    }

    .details-input {
        height: 60px;
        width:  100%;
        font-size: 1.1em;
        margin-bottom: 20px;
    }
}

/* QUESTIONS LIST */

.qList {    
    list-style-type: none;
    padding-right: 25px;
    padding-left: 25px;
//    overflow-y: scroll;
//  height: 200px;

    .question-title {
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        color: @question-title-blue; 

        &:hover{
            text-decoration: underline;
        }
    }

    .question-body {
        font-style: italic;
    }

    .answer, .question-with-no-answers {
        padding-bottom: 10px;  
        border-bottom: 1px solid;  
        border-color: lightgrey;    
        margin-bottom: 10px;
    }

    .answer-user {
        color: black;
        font-weight: bold;
    }

    .answer-upvotes-icon {
        float: left;
        color: blue;
    }

    .answer-user-pic {
        height: @answer-user-pic-size;
        width: @answer-user-pic-size;
    }

    .answer-list {
        list-style-type: none;
        margin: 0;
        padding-right: 0;
    }

    .answer-links {
        margin-top: 5px;
    }

    .answer-text {
        margin-top: 10px;
        font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
        font-size: 14px;
        line-height: 19.3px;
    }

}

.new-answer-details-input {
    height: 60px;
    width:  100%;
    font-size: 1.1em;
    margin-bottom: 20px;
}

/* COMMENTS */

.comments-list {
    .rounded(5px);
    list-style: none;
    margin-top: 7px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    border-style: solid;
    border-width: 4px;
    border-color: @ultra-light-grey;
    color: black;

    .newCommentArea{

      textarea {
        .rounded(5px);
        border-color: lightgray;
        resize: none;
        width: 95%;
        height: 76px;

      }

      button {
        width: 60px;
      }
    }

    .comment {
        margin-bottom: 12px;
        //border: 1px solid @ultra-light-grey;
        padding: 3px;
        margin: 10px;

        .commentImg {
          height: @answer-user-pic-size/2;
          width: @answer-user-pic-size/2;
        }

        .comment-body {
          margin-right: 25px;
        }
    }

    .comment-user {
        color: @question-title-blue;
    }


}

.simple-form {

  input {
    width: 100%;
    margin-bottom: 15px;
  }
}

/** Categories */

categories {
  .category {
    background: lightblue;
    margin: 2px;
  }

  .categories-while-editing {
    width: 100%;
  }

}


.single-question-title {
  font-size: 30px;
  line-height: 40px;
}

.new-answer-new-bio {
  width: 50%;
}

related-questions {
  position: absolute;
  margin-right: -25%;
  font-size: 14px;
  width: 360px;
  
  .relatedQuestionsList {
      list-style-type: none;
      margin-right: -40px;
      li {
        margin-bottom: 10px;
      }
  }
//  margin-right: -340px;

  h3 {
    text-decoration: underline;
  }  

  .related-question {

  }
}

/** text-angular */

text-angular {

  .ta-toolbar {
    margin-top: 5px;
    margin-left: 67px;
  }
  .ta-editor {
    min-height: 100px;
    resize: vertical;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:5px 0;

    img {
      width: @img-width;
    }
  }
}

.imgHolder {
  img {
    width: @img-width;
    border: 1px solid black;
    border-radius: 20px;
    cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
  }
}

overlay-pic {
  img {
    z-index: 1;
    position: fixed;
    border: 10px solid gray;
    width: 40%;
    cursor: -webkit-zoom-out; cursor: -moz-zoom-out;
  }
}

#loginPage {
  .login-img {
    float: left;
    border-radius: 20px;
  }

  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background: url('http://24.media.tumblr.com/336248495dfd5ea44f32eeebd35108af/tumblr_n5e0gloGfW1st5lhmo1_1280.jpg') no-repeat fixed center;
  background-size: 100% auto;

  #fbLoginArea {
    position:absolute;
    margin-right: 7%;
    margin-top:3%;
    background-color: white;
    padding: 5px;
    .rounded(5px);

    .brand {
      font-weight:bold;
    }
    button {

    }

//    a.fb-button {
//      color: #FFF;
//      display: inline-block;
//      text-decoration: none;
//    }

    .fb-button {
      background: #5F78AB;
      background-repeat: no-repeat;
      background-position: -1px -81px;
      border-top: 1px solid #29447E;
      border-right: 1px solid #29447E;
      border-bottom: 1px solid #1A356E;
      border-left: 1px solid #29447E;
      -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8A9CC2;
      -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8A9CC2;
      cursor: pointer;
      font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
      font-size: 13px;
//      font-weight: bold;
      height: 23px;
      line-height: 23px;
      padding: 0px 5px 0px 6px;
      text-align: left;
    }
  }
}

